/gen/grpc/csharp/* linguist-vendored
/gen/grpc/js/* linguist-vendored
/gen/grpc/java/* linguist-vendored
/gen/grpc/python/* linguist-vendored
/gen/grpc/php/* linguist-vendored
/gen/gql/docs/* linguist-vendored
/gen/grpc/docs/* linguist-vendored